$color-black: #000;
$color-white: #fff;

$color-primary-1: #eabe42;
$color-primary-2: #d5af4b;
$color-primary-3: #d4a327;
$color-primary-4: #b4923e;
$color-primary-5: #b28923;

$default-font-family: 'Bodoni Moda',serif;
$cursive-font-family: 'Pinyon Script',
cursive;

$default-font-size: 1.5rem;
$small-font-size: 1rem;
$big-font-size: 4rem;
$medium-font-size: 2rem;